<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.groundhoghunter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GroundhogHunterApp"
        android:allowBackup="true"
        android:icon="@drawable/groundhog_icon"
        android:label="${appName}${appNameSuffix}"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_AdMobAppID"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Top10ScoreActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeForTop10">
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/settingStr"
            android:theme="@style/AppThemeTransparent">
        </activity>

        <activity android:name=".MultiPlayerActivity"
            android:configChanges="orientation"
            android:label="@string/multipleStr"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparent">
        </activity>

        <service android:name=".Service.LocalTop10IntentService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service android:name=".Service.GlobalTop10IntentService"
            android:enabled="true"
            android:exported="false">
        </service>

    </application>

</manifest>