<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.groundhoghunter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".GroundhogHunterApp"
        android:allowBackup="true"
        android:icon="@drawable/groundhog_icon"
        android:label="${appName}${appNameSuffix}"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".HostGameActivity"></activity>
        <activity android:name=".BtHostGameActivity" />
        <activity android:name=".BtClientGameActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_AdMobAppID" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GroundhogActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BluetoothCreateGameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BluetoothJoinGameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Top10ScoreActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeForTop10" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/settingString"
            android:theme="@style/AppThemeTransparent" />
        <activity
            android:name=".TwoPlayerActivity"
            android:configChanges="orientation"
            android:label="@string/twoPlayerString"
            android:screenOrientation="portrait" />

        <service
            android:name=".Services.LocalTop10IntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".Services.GlobalTop10IntentService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>